header.header{
	width: 100%;
	background-image: linear-gradient(0,#fe6433,#f53d2e);
	height: var(--header-height);
}
nav.header__navbar{
	display: flex;
	justify-content: space-between;
}
/* Header QR */
.header__qr{
	display: none;
	width: 185px;
	background: white;
	position: absolute;
	left:0; top: 150%;
	padding: 5px;
	border-radius: 3px;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.header__qr::before{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	width: 100%;
	height: 20px;
	top: -16px;
}
.header__qr-apps,
.header__qr>img{
	width: 100%;
}
.header__qr-apps>img{
	display: inline-block;
	height: 1.8rem;
	width: 42%;
	margin-left: 9px;
}
.header__navbar-item:hover > .header__qr{
	display: block;
	animation: fadeIn .5s ease;
}
/* Navbar list & Items */
ul.header__navbar-list{
	margin: 7px 0 0 0;
	list-style: none;
	padding: 0;
	display: flex;
}
.header__navbar-item,
.header__navbar-item>a{
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
	font-weight: 300;
}
.header__navbar-item>a:nth-child(2){
	margin-left: 3px;
}
.header__navbar-item:hover,
.header__navbar-item>a:hover{
	color: rgba(225,225,225,0.7);
	cursor: pointer;
}
.header__navbar-item{
	margin: 0 8px;
	position: relative;
	display: inline-flex;
}
.header__navbar-item--disabled{
	color: white;
	cursor: text;
}
.header__navbar-item--strong{
	font-weight: 400;
}
.header__navbar-item>a>.header__notify{
	color: #ccc;
	cursor: default;
}
.header__navbar-user{
	display: inline-flex;
	justify-items: center;
	position: relative;
}
.header__navbar-user>img{
	width: 25px;
	border-radius: 50%;
}
.header__navbar-user>ul{
	position: absolute;
	top: 120%;
	right: 0;
	width: 160px;
	background: white;
	border-radius: 2px;
	padding-left: 0;
	list-style: none;
	z-index: 1;
	box-shadow: 0 1px 2px #e0e0e0;
	display: none;
}
.header__navbar-user>ul::before{
	content: "";
	position: absolute;
	background: white;
	right: 10px; top: -8px;
	width: 45px; height: 15px;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.header__navbar-user>ul::after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	width: 55%;
	height: 25px;
	top: -13px;
}
.header__navbar-user:hover>ul{
	display: block;
}
.header__navbar-user>ul>li>a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #333;
	padding: 8px 16px;
	display: block;
}
.header__navbar-user>ul>li>a:child-child{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.header__navbar-user>ul>li>a:last-child{
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.header__navbar-user>ul>li>a:hover{
	background: #fafafa;
}
.header__navbar-user>ul>li:last-child{
	border-top: 1px solid #ccc;
}
.header__navbar-user>ul>li:last-child>a{
	color: red;
	font-weight: 400;
}
.header__navbar-username{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1px;
}
/* icon */
.header__navbar-icon > i{
	font-size: 1.5rem;
	padding: 0 3px;
}
/* Notify Icon */
.header__notify{
	position: absolute;
	cursor: default;
	top: 150%;
	right: 0;
	width: 404px;
	background: white;
	border: 1px solid #D3D3D3;
	display: none;
	z-index: 1;
}
.header__notify::before{
	content: "";
	position: absolute;
	background: white;
	right: 20px; top: -10px;
	width: 45px; height: 15px;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.header__notify::after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	width: 20%;
	height: 20px;
	top: -12px;
}
.header__notify-header{
	height: 40px;
	background: white;
}
.header__notify-header h3{
	color: #333;
	opacity: 0.8;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 40px;
	margin: 0 0 0 12px;
}
.header__notify-item{
	display: flex;
	border: 1px solid rgba(0,0,0,0.1);
	gap: 10px;
	background: rgba(235,75,42,0.08);
}
.header__notify-item:hover{
	background: rgba(235,235,235,0.7);
	cursor: pointer;
}
.header__notify-item>img{
	margin-left: 12px;
	width: 48px;
	object-fit: contain;
}
.header__notify-name{
	display: block;
	font-size: 1.5rem;
	color: black;
	font-weight: 400;
	line-height: 1.5rem;
}
.header__notify-desc{
	display: block;
	font-size: 1.2rem;
	color: #333;
	line-height: 2.3rem;
}
.header__notify-footer{
	display: block;
	text-align: center;
	padding: 8px 0;
}
.header__notify-footer>a{
	color: black;
	text-decoration: none;
	font-size:1.5rem;
	font-weight: 400;
}
.header__navbar-item:hover>.header__notify{
	--growth-from:0;
	--growth-to:1;
	display: block;
	transform-origin: calc(100% - 20px) top;
	animation: growth .3s ease;
	will-change: opacity, transform;
}
/* | */
.header__navbar--seperate::after{
	content: "";
	position: absolute;
	right:-9px;
	top:50%;
	transform: translateY(-50%);
	border-right: 1px solid pink;
	height: 1.2rem;
	user-select: none;
	-webkit-user-select:none;
}

/* Modal */
.modal-open{
	display: flex;
}
.modal{
	animation: fadeIn .1s linear;
	position: fixed;
	display: none;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.modal__overlay{
	position: absolute;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
}
.modal__body{
	--growth-from:0.7;
	--growth-to:1;
	margin:auto;
	z-index: 1;
	background: white;
	border-radius: 5px;
	animation: growth linear;
}
/* Auth-form */
.auth-form{
	width: 500px;
	overflow: hidden;
}
.auth-form__container{
	padding: 0 33px;
	margin-bottom: 15px;
}
.auth-form__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.auth-form__group>input{
	width: 96%;
	outline: none;
	height: 35px;
	font-size: 1.5rem;
	margin-top: 15px;
	padding-left: 12px;
	border-radius: 2px;
	border: 2px solid #dbdbdb;
}
.auth-form__group>input:focus{
	border-color: #888; 
}
.auth-form__header>h3{
	padding:10px 0;
	font-weight: 400;
	font-size: 2rem;
}
.auth-form__header>span{
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--primary-color);
	cursor: pointer;
}
.auth-form__policy-text{
	font-size: 1.2rem;
	text-align: center;
}
.auth-form__policy-text>a{
	color: var(--primary-color);
	text-decoration: none;
}
.auth-form__controls{
	margin-bottom: 5px;
	gap:8px;
	margin-top: 75px;
	display: flex;
	justify-content: flex-end;
}
.auth-form__controls>button{
	text-transform: uppercase;
}
.auth-form__socials{
	padding: 10px 0;
	background:#F5F5F5;
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 3px;
	border-end-start-radius: 5px;
	border-end-end-radius: 5px;
}
.auth-form__socials>a{
	text-decoration: none;
	height: 20px;
	width: 40%;
	display: flex;
	gap: 10%;
}
.auth-form__socials>a>i{
	font-size: 1.8rem;
	margin-right: 12px;
}
.btn.btn-fb{
	color: white;
	background: #3A5A98;
}
.btn.btn-gg{
	color: #333;
}
.auth-form__help{
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	margin-top: 10px;
}
.auth-form__help>a{
	text-decoration: none;
	font-size: 1.2rem;
	color: #939393;
}
.auth-form--seperate{
	content: "";
	position: absolute;
	right:18.5%;
	top:50%;
	transform: translateY(-50%);
	border-right: 1.5px solid #ddd;
	height: 1.2rem;
	user-select: none;
	-webkit-user-select:none;
}
.auth-form__help>a:first-child{
	color: var(--primary-color);
}
.header__search-box{
	height: calc(var(--header-height) - var(--navbar-height));
	display: flex; align-items: center;
	margin:0 8px;
}
.header__search{
	flex: 1;
	height: 40px;
	background: white;
	border-radius: 3px;
}
.header__search>input{
	width: 100%;
	height: 100%;
	border:none;
	font-size: 1.5rem;
	outline: none;
	border-radius: 3px;
	padding:0 8px;
}
.header__logo{
	width: 200px;
}
.header__logo>a{
	color: transparent;
	text-decoration: none;
}
.header__logo>a>svg{
	width: 150px;
}
.header__cart{
	text-align: center;
	position: relative;
	width: 150px;
}
.header__cart-wrap{
	cursor: pointer;
	display: inline-block;
	padding: 0 12px;
}
.header__cart-wrap>i{
	font-size: 2.3rem;
	color: white;
	margin-top: 6px;
}
.header__cart-list{
	display: none;
	position: absolute;
	top: calc(100% + 7px);
	right: 25px;
	width: 400px;
	border-radius: 2px;
	background: white;
	box-shadow: 0 1px 2.5rem rgba(0,0,0,0.2);
	z-index: 1;
}
.header__cart-list>img,.header__cart-list>span{
	display: none;
}
.header__cart--no-cart>img{
	width: 55%;
	display: inline-block;
}
.header__cart--no-cart>span{
	display: block;
	font-size: 1.5rem;
	margin-top: 13px;
	color: #333;
}
.header__cart--no-cart{
	padding: 23px 0;
}
.header__cart--has-cart>div{
	text-align: left;
	padding-top: 10px;
}
.header__cart-wrap:hover>.header__cart-list{
	--growth-from:0;
	--growth-to:1;
	display: block;
	cursor: default;
	animation: growth .2s ease;
	will-change: opacity, transform;
}
.header__cart-list:before{
	content: "";
	position: absolute;
	background: white;
	right: 25px; top: -8px;
	width: 45px; height: 15px;
	transform-origin: calc(100% - 20px) top;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.header__cart-list:after{
	content: "";
	display: block;
	position: absolute;
	right: 30px;
	width: 18%;
	height: 30px;
	top: -15px;
}
.header__cart-quantity{
	position: absolute;
	left: 50%;
	top: -2px;
	border-radius: 10px;
	border: 2px solid #fb5831;
	padding: 0 6px;
	background: white;
	color: var(--primary-color);
	font-size: 1.2rem;
}
.header__cart-items{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	max-height: 55vh;
	overflow-y: auto;
}
.header__cart-item{
	display: flex;
	padding: 10px;
}
.header__cart-item:hover{
	background: #eee;
	cursor: pointer;
}
.header__cart-item>img{
	width: 50px;
	height: 45px;
	border: 1px solid #E8E8E8;
}
h4.header__cart-header{
	margin-bottom: 15px;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0 10px;
	margin-top: 0;
	color: #ddd;
}
.header__cart-footer{
	padding: 10px;
	background: #F5F5F5;
	text-align: right !important;
	border-end-start-radius: 2px;
	border-end-end-radius: 2px;
}
.header__cart-item-heading,
.header__cart-item-body{
	display: flex;
	justify-content: space-between;
}
.header__cart-item-heading>h5{
	font-size: 1.5rem;
	margin: 0;
	line-height: 2rem;
	overflow: hidden;
	font-weight: 500;
	color: #333;
	flex: 1;
	padding-right: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.header__cart-item-heading{
	margin-bottom: 15px;
}
.header__cart-item-info{
	margin-left: 8px;
	width: 100%;
}
.header__cart-item-price{
	font-size: 1.6rem;
	color: var(--primary-color);
}
.header__cart-item-multipy,
.header__cart-item-quantity{
	font-size: 1.1rem;
	color: #aaa;
}
.header__cart-item-desc{
	color: #bababa;
	font-size: 1.3rem;
}
.header__cart-item-del{
	font-size: 1.4rem;
}
.header__cart-item-del:hover{
	color: var(--primary-color);
	cursor: pointer;
}
.header__cart-footer>a:hover{
	background: #F05D41;
}
/* Container */
.container{
	background: #F5F5F5; 
}
.app__content{
	padding-top:24px;
}
.category{
	border-radius: 2px;
	background: white;
}
.category-list{
	padding:0 0 8px 0;
	list-style: none;
}
.category-list>li{
	padding: 0 12px 0 10px;
}
.category-list>li>a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #333;
	display: block;
	padding: 6px 12px;
	position: relative;
	border-bottom: 1px solid #ccc;
}
.category-list>li:last-child>a{
	border: 0;
}
.category-list li a:hover{
	color: var(--primary-color);
}
.category-item--active a{
	color: var(--primary-color);
}
.category-item--active a::before{
	content:"";
	top: 50%; left: 5px;
	color: var(--primary-color);
	position: absolute;
	border: 5px solid;
	transform: translateY(-50%);
	border-color: transparent transparent transparent var(--primary-color);
}
.category__heading{
	font-size: 1.7rem;
	padding: 12px 16px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-top: 0;
}
.category__heading>i{
	font-size: 1.5rem;
	margin-right: 4px;
	position: relative;
	top: -1px;
}
.home-filter{
	display: flex;
	align-items: center;
	padding: 12px 23px;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
}
.home-filter>button{
	margin-right: 12px;
	background: white;
}
.home-filter>button:not(.btn--primary):hover{
	background: white;
}
.home-filter__page{
	display: flex;
	align-items: center;
	margin-left: auto;
}
.home-filter__page-num{
	font-size: 1.5rem;
	color: #333;
	margin-right: 23px;
}
.home-filter__page-num>span{
	color: var(--primary-color);
}
.home-filter__lable{
	color: #555;
	font-size: 1.5rem;
	margin-right: 16px;
}
.home-filter>.select-input{
	min-width: 200px;
}
.home-filter__page-control{
	border-radius: 2px;
	overflow: hidden;
	display: flex;
	width: 72px;
	height: 36px;
}
.home-filter__page-control>a:first-child{
	border-right: 1px solid #eee;
}
.home-filter__page-control>a{
	background: white;
	flex: 1;
	display: flex;
	text-decoration: none;
}
.home-filter__page-control>a>i{
	margin: auto;
	font-size: 1.5rem;
	color: #555;
}
.home-product{
	margin-bottom: 10px;
}
.product-item{
	margin-top: 10px;
	background: white;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	transition: transform ease-in .1s;
	will-change: transform;
	display: block;
	text-decoration: none;
}
.product-item:hover{
	cursor: pointer;
	transform: translateY(-1px);
	box-shadow: 0 1px 20px 0 rgba(0,0,0,.05)
}
.product-item>h4{
	font-size: 1.5rem;
	font-weight: 400;
	color: #333;
	line-height: 1.8rem;
	height: 3.6rem;
	overflow: hidden;
	display: -webkit-box;
	margin: 10px 10px 5px;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.product-item__img{
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.product-item__price{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.product-item__price-old{
	margin-left: 10px;
	font-size: 1.5rem;
	text-decoration: line-through;
	color: #666;
}
.product-item__price-current{
	font-size: 1.6rem;
	color: var(--primary-color);
	margin: 10px 10px 0;
}
.product-item__action{
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}
.product-item__like{
	font-size: 1.3rem;
}
.product-item__like>i{
	color: #F63D30;
}
.product-item__like>i:first-child{}
.product-item__like>i:last-child{
	display: none;
}
.product-item__like--liked>i:first-child{
	display: none;
}
.product-item__like--liked>i:last-child{
	display: inline-block;
}
.product-item__rating{
	font-size: 1rem;
	transform: scale(0.8);
	transform-origin: right;
	color: #D5D5D5;
	margin: -1px 0 0 auto;
}
.product-item__rated{
	color: var(--star-color);
}
.product-item__sold{
	font-size: 1.2rem;
	color: #333;
	margin-left: 6px;
}
.product-item__origin{
	display: flex;
	justify-content: space-between;
	margin: 3px 10px 0;
	color:  #575757;
	font-size: 1.2rem;
	font-weight: 300;
}
.product-item__favourite{
	position: absolute;
	top: 10px; left: -4px;
	background: var(--primary-color);
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 2px 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.product-item__favourite::before{
	content: "";
	position: absolute;
	top: 100%;left: 0;
	filter: brightness(60%);
	border-top:3px solid var(--primary-color);
	border-left:3px solid transparent;
}
.product-item__favourite>i{
	font-size: 0.8rem;
	margin-right: 3px;
}
.product-item__sale-off{
	position: absolute;
	right: 0;top: 0;
	width: 42px;height: 36px;
	background: rgba(255,216,64,0.9);
	text-align: center;
	border-top-right-radius: 2px;
}
.product-item__sale-off::before{
	content: "";
	position: absolute;
	top: 100%;right: 0;
	border-width: 0 21px 5px;
	border-style: solid;
	border-color: transparent rgba(255,216,64,0.9);
}
.product-item__sale-off>span:first-child{
	color: #EE4D2D;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.2;
	position: relative;
	left: 3px;top: 2px;
}
.product-item__sale-off>span:last-child{
	text-transform: uppercase;
	color: white;
	font-size: 1.3rem;
	line-height: 1.3;
	position: relative;
	top: 2px;
	font-weight: 600;
}
.home-product__pagination{
	margin: 32px 0 48px 0;
}
.footer{
	border-top: 5px solid var(--primary-color);
	padding-top: 16px;
}
.footer__heading{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #333;
}
.footer-list{
	padding-left: 0;
	list-style: none;
}
.footer-item>a{
	text-decoration: none;
	font-size: 1.2rem;
	color: #747474;
	padding: 2px 0;
	display: flex;
	align-items: center;
}
.footer-item:hover>a{
	color: var(--primary-color);
}
.footer-item>a>i{
	font-size: 1.6rem;
	margin: -2px 8px 0 0;
}
.footer__download{
	display: flex;
}
.footer__download>img{
	width: 80px;
	object-fit: contain;
}
.footer__apps{
	flex: 1;
}
.footer__apps>a{
	color: transparent;
	text-decoration: none;
}
.footer__info{
	background: #F5F5F5;
	padding: 8px 0;
	margin-top: 24px;
}
.footer__copyright{
	margin: 0;
	font-size: 1.3rem;
	text-align: center;
	color: #747474;
}